<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ChatBuddy</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <img src="images/bg.png" id="bg">
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-bug"></i> ChatBuddy <i class="fas fa-bug"></i>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">ChatBuddy</div>
            <div class="msg-info-time"></div>
          </div>

          <div class="msg-text">
            Hi, I am ChatBuddy! I talk to people and help them boost their moods"
          </div>
          <div class="msg-text">
            What is your name? 
          </div>
          
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");
    var global_opts;
    var phq9_weight=0;

    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "https://image.flaticon.com/icons/svg/327/327779.svg";
    const PERSON_IMG = "https://image.flaticon.com/icons/svg/145/145867.svg";
    const BOT_NAME = "ChatBuddy";
    const PERSON_NAME = "You";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, img, side, text, opts) {
      //   Simple solution for small apps
      var msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>

    <div class="msg-text">${text}</div>
  </div>
</div>
`;
      if(opts==true) {
          var opts = global_opts;
          console.log(opts);
          //alert(msgHTML.concat("<button>Yes</button>"));
          if (opts.length == 2){
          for(var i=0; i<opts.length; i++) {
            msgHTML = msgHTML.concat(`<button class="msg-bubble" id="${i}" style="font-size: 16px;margin-left: 40px;width:100px ;"  onMouseOver="this.style.backgroundColor='#1E90FF'"  onMouseOut="this.style.backgroundColor='#DCDCDC'"><div class="msg-info" onclick='option(${i})'>${opts[i]}</div></button>`);
          }}
          else if (opts.length == 3){
          for(var i=0; i<opts.length-1; i++) {
            msgHTML = msgHTML.concat(`<button class="msg-bubble" id="${i}" style="font-size: 16px;display: block;margin-left: 40px;width:250px ;"  onMouseOver="this.style.backgroundColor='#1E90FF'"  onMouseOut="this.style.backgroundColor='#DCDCDC'"><div class="msg-info" onclick='option2(${i})'>${opts[i]}</div></button>`);
          }}
          else if (opts.length == 5){
          for(var i=0; i<opts.length; i++) {
            msgHTML = msgHTML.concat(`<button class="msg-bubble" id="${i}" style="font-size: 16px;display: block;margin-left: 40px;width:250px ;"  onMouseOver="this.style.backgroundColor='#1E90FF'"  onMouseOut="this.style.backgroundColor='#DCDCDC'"><div class="msg-info" onclick='option3(${i})'>${opts[i]}</div></button>`);
          }}
      
          else { 
          for(var i=0; i<opts.length; i++) {
            msgHTML = msgHTML.concat(`<button class="msg-bubble" id="${i}" style="display: block;font-size: 14px;margin-left: 60px;width:300px ;"  onMouseOver="this.style.backgroundColor='#1E90FF'"  onMouseOut="this.style.backgroundColor='#DCDCDC'"><div class="msg-info"  style="margin-left: 50px" onclick='option1(${i})'>${opts[i]}</div></button>`);
          }}
   
      } 
      
      //msgHTML = msgHTML.concat(``);
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }


    function botResponse(rawText) {

      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        data=String(data)
        var msgText = data;
        if(data.includes("$"))
        {
          resp = data.split("$");
          msgText = resp[0];
          console.log(resp[1]);
          global_opts = resp.slice(1, resp.length);
          appendMessage(BOT_NAME, BOT_IMG, "left", msgText, true);
          
        }
        /*else if(data.includes("#"))
        {
          msgText=msgText.slice(0, msgText.length -1);
          global_opts = ["Not At All","Several days","More than half the day","Nearly Every day"]
          appendMessage(BOT_NAME, BOT_IMG, "left", msgText, true);
        }*/

        else
        {  if(data.includes("#"))
        {
          msgText=msgText.slice(0, msgText.length -1);
          global_opts = ["Not At All","Several days","More than half the week","Nearly Every day"]
          appendMessage(BOT_NAME, BOT_IMG, "left", msgText, true);
        }
          else{      

            if(data.includes("%"))
        {
          msgText=msgText.slice(0, msgText.length -1);
          msgText=msgText+"Our PHQ-9 test results indicate that you might have ";
          if (phq9_weight<=4 )
          {
            msgText=msgText+"Minimal Depression."
          }
          else if (phq9_weight<=9){
            msgText=msgText+"Mild Depression"

          }          
          else if (phq9_weight<=14){
            msgText=msgText+"Moderate Depression"

          }
          else if (phq9_weight<=19){
            msgText=msgText+" moderately severe depression. However, there could be margins of errors so we recommend you contact the following foundations/ helplines and seek their help<br>1. COOJ Mental Health Foundation (COOJ) <br> Helpline: +91-8322252525 <br>Time: 01:00 PM - 07:00 PM | Monday to Friday <br><br>2.Parivarthan <br>Time: 10:00 AM - 10:00 PM | Monday to Friday <br>Languages: All Indian languages except తెలుగు, മലയാളി <br>Website: www.parivarthan.org<br><br>3. Connecting Trust<br>Helpline: +91-9922001122, +91-9922004305<br>Time: 12:00 PM - 08:00 PM | All days of the week<br>Languages: English, हिंदी, मराठी<br>Website: https://connectingngo.org"

          }          
          else if (phq9_weight<=27){
            msgText=msgText+"Severe Depression. However, there could be margins of errors so we recommend you contact the following foundations/ helplines and seek their help<br>1. COOJ Mental Health Foundation (COOJ) <br> Helpline: +91-8322252525 <br>Time: 01:00 PM - 07:00 PM | Monday to Friday <br><br>2.Parivarthan <br>Time: 10:00 AM - 10:00 PM | Monday to Friday <br>Languages: All Indian languages except తెలుగు, മലയാളി <br>Website: www.parivarthan.org<br><br>3. Connecting Trust<br>Helpline: +91-9922001122, +91-9922004305<br>Time: 12:00 PM - 08:00 PM | All days of the week<br>Languages: English, हिंदी, मराठी<br>Website: https://connectingngo.org"
           
          }
          
          appendMessage(BOT_NAME, BOT_IMG, "left", msgText, false);
        }

         else{ appendMessage(BOT_NAME, BOT_IMG, "left", msgText, false);}
         }}

      });

    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }

    function option(i) {
        var i=i;
        if (i==0){
          msgText="Yes"
        }
        
        else{
          msgText="No"
        }
        phq9_weight=phq9_weight+i
        appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
        msgerInput.value = "";
        botResponse(msgText);

    }
    function option1(i) {
        var i=i;
        if (i==0){
          msgText="Not at all" ;
        }
        else if (i==1){
          msgText="Several Days" ;
        }
        else if (i==2){
          msgText="More than half the week" ;
        }
        else {
          msgText="Nearly Everyday";
        }
        phq9_weight=phq9_weight+i
        appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
        msgerInput.value = "";
        botResponse(msgText);

    }

    function option2(i) {
        var i=i;
        if (i==0){
          window.location.href = "{{ url_for('show_recommendation') }}";
        }
        else {
          msgText="No Thank You";
          appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
          botResponse(msgText);
        }
        
    }

    function option3(i) {
      var i=i;
        if (i==0){
          msgText="Lockdown/Isolation" ;
        }
        else if (i==1){
          msgText="Loss of Loved ones" ;
        }
        else if (i==2){
          msgText="You have tested +ve" ;
        }
        else if (i==3){
          msgText="General Negative Environment";
        }
        
        else {
          msgText="Can't Say";
        }
        appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
        botResponse(msgText);

    }






  </script>

</body>

</html>